

.container {
  margin: 200px auto;
  width: 500px;
  height: 500px;
  position: relative;
  perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-animation: cube-spin 10s infinite linear;
}

@-webkit-keyframes cube-spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}


#cube .front  { transform: rotateY(   0deg ) translateZ( 250px ); }
#cube .back   { transform: rotateY( 180deg ) translateZ( 250px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 250px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 250px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 250px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 250px ); }

#cube { transform: translateZ( -250px ); }

#cube .face {
/*  background-color: rgb(50, 50, 50);
*/  /*opacity: 0.7;*/
/*  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);  
*/  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
/*  border: 2px solid black;
*/  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
}


#cube #home {
  background-color: #cddc39
}

#cube #profile {
  background-color: #00bcd4
}
#cube #history {
  background-color: #ffc107
}
#cube #present {
  background-color: #8bc34a
}

#cube #future {
  background-color: #3f51b5
}
#cube #contact {
  background-color: #9c27b0
}


/*Title style */
#cube #title {
  width: 100%;
  height: 100px;
}

#cube #home #title {
  background-color: #e6ee9c
}

#cube #profile #title {
  background-color: #80deea
}
#cube #history #title {
  background-color: #ffe082
}
#cube #present #title {
  background-color: #c5e1a5
}

#cube #future #title {
  background-color: #9fa8da
}
#cube #contact #title {
  background-color: #ce93d8
}
