/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #263238;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
}

/* Nav bar */
#nav-bar {
  height: 50px;
  background: lightgrey;
}

#nav-bar #nav-controls {
  height: 100%;
  float: right;
}

#nav-bar span {
  position: relative;
  display: block;
  float: left;
  cursor: pointer;
  font-weight: bold;
  min-width: 100px;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0;
  margin: 0 10px;
  transition: font-size 0.2s ease;
}

/* Cube positioning */
#content-wrapper {
  height: calc(100% - 50px);
}

#content-wrapper #cube-container {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transition-duration: 2s;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  transform: translate(-50%, -50%);
}

#content-wrapper #cube-container #cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1.5s;
  -moz-transition: -moz-transform 1.5s;
  -o-transition: -o-transform 1.5s;
  transition: transform 1.5s;
}

#content-wrapper #cube-container #cube figure {
  margin: auto;
  cursor: pointer;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 50px;
  opacity: 0.95;
  top: 0;
  left: 0;
  transition: width 1s, height 1s, left 1s, top 1s;
  /*transition-duration: 1s ;*/
}

#content-wrapper #cube-container #cube figure.zoomed {
  opacity: 1;
  cursor: default;
}

#content-wrapper #cube-container #cube figure p {
  position: relative;
  top: 50px;
}

#content-wrapper #cube-container #cube .side img {
  height: 65%;
  position: relative;
  top: 40px;
  transition: opacity 1s;
}

#content-wrapper #cube-container #cube .side img.zoomed img {
  opacity: 0;
}

#content-wrapper #cube-container #cube .bottom img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#content-wrapper #cube-container #cube .top img {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* Cube size */
/*.container.zoomed {
  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
}*/
/* Buttons */
/***************************************
 * DONT TOUCH ANYTHING BELOW THIS!!!!!!*
 ***************************************/
/* cube colours */
#cube .front {
  background-color: #cddc39;
}

#cube .back {
  background: #3f51b5;
}

#cube .right {
  background: #ffc107;
}

#cube .left {
  background: #673ab7;
}

#cube .top {
  background: #00bcd4;
}

#cube .bottom {
  background: #ff5722;
}

/* cube creation */
#cube .front {
  -webkit-transform: translateZ(250px);
  -moz-transform: translateZ(250px);
  -o-transform: translateZ(250px);
  transform: translateZ(250px);
}

#cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(250px);
  -moz-transform: rotateX(-180deg) translateZ(250px);
  -o-transform: rotateX(-180deg) translateZ(250px);
  transform: rotateX(-180deg) translateZ(250px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(250px);
  -moz-transform: rotateY(90deg) translateZ(250px);
  -o-transform: rotateY(90deg) translateZ(250px);
  transform: rotateY(90deg) translateZ(250px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(250px);
  -moz-transform: rotateY(-90deg) translateZ(250px);
  -o-transform: rotateY(-90deg) translateZ(250px);
  transform: rotateY(-90deg) translateZ(250px);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(250px);
  -moz-transform: rotateX(90deg) translateZ(250px);
  -o-transform: rotateX(90deg) translateZ(250px);
  transform: rotateX(90deg) translateZ(250px);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(250px);
  -moz-transform: rotateX(-90deg) translateZ(250px);
  -o-transform: rotateX(-90deg) translateZ(250px);
  transform: rotateX(-90deg) translateZ(250px);
}

/*cube animations*/
#cube.show-front {
  -webkit-transform: translateZ(-250px);
  -moz-transform: translateZ(-250px);
  -o-transform: translateZ(-250px);
  transform: translateZ(-250px);
}

#cube.show-back {
  -webkit-transform: translateZ(-250px) rotateX(-180deg);
  -moz-transform: translateZ(-250px) rotateX(-180deg);
  -o-transform: translateZ(-250px) rotateX(-180deg);
  transform: translateZ(-250px) rotateX(-180deg);
}

#cube.show-right {
  -webkit-transform: translateZ(-250px) rotateY(-90deg);
  -moz-transform: translateZ(-250px) rotateY(-90deg);
  -o-transform: translateZ(-250px) rotateY(-90deg);
  transform: translateZ(-250px) rotateY(-90deg);
}

#cube.show-left {
  -webkit-transform: translateZ(-250px) rotateY(90deg);
  -moz-transform: translateZ(-250px) rotateY(90deg);
  -o-transform: translateZ(-250px) rotateY(90deg);
  transform: translateZ(-250px) rotateY(90deg);
}

#cube.show-top {
  -webkit-transform: translateZ(-250px) rotateX(-90deg);
  -moz-transform: translateZ(-250px) rotateX(-90deg);
  -o-transform: translateZ(-250px) rotateX(-90deg);
  transform: translateZ(-250px) rotateX(-90deg);
}

#cube.show-bottom {
  -webkit-transform: translateZ(-250px) rotateX(90deg);
  -moz-transform: translateZ(-250px) rotateX(90deg);
  -o-transform: translateZ(-250px) rotateX(90deg);
  transform: translateZ(-250px) rotateX(90deg);
}
